<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="ISO-8859-1">
    <title>Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
    </style>
</head>
<body>
<div ng-controller="ChatCRUDCtrl">
    <table>
        <tr>
            <td width="100">Login:</td>
            <td><input type="text" id="id" ng-model="Context.login" ng-change="getMessages()"/></td>
        </tr>
        <tr>
            <td width="100">Text:</td>
            <td><input type="text" id="name" ng-model="Context.text"/><a
                    ng-click="addMessage(Context.login,Context.text)">Send</a></td>
        </tr>
    </table>
    <output ng-model="message">{{message}}</output>
    <output ng-model="errorMessage"></output>

    <br/>
    <a ng-click="Context.myMessagesOnly=false;getMessages()" ng-style="getAllStyle()">All Messages</a>
    <a ng-click="Context.myMessagesOnly=true;getMessages()" ng-style="getMyStyle()">My Messages</a><br/>
    <br/> <br/>
    <table style="border:1px">
        <tr>
            <th>Time</th>
            <th>Login</th>
            <th>Message</th>
        </tr>
        <tr ng-repeat="msg in Messages track by $index">
            <td>{{msg.date.split(" ")[3]}}</td>
            <td>{{msg.login}}</td>
            <td>{{msg.text}}</td>
            <td ng-if="msg.login==Context.login"><a ng-click="deleteMessage(msg.id);getMessages();">Delete message</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>